{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Stock Market Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stock_list.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Stock Market Details</h1>

        <div class="stock-details-graph">
            <div class="stock-details">
                <h2>Stock Prices</h2>
                {% for stock in stocks %}
                    <div class="stock-item">
                        <p class="stock-symbol">Symbol: {{ stock.symbol }}</p>
                        <p>Date: {{ stock.date }}</p>
                        <p>Open Price: {{ stock.open_price }}</p>
                        <p>High Price: {{ stock.high_price }}</p>
                        <p>Low Price: {{ stock.low_price }}</p>
                        <p>Close Price: {{ stock.close_price }}</p>
                        <p>Volume: {{ stock.volume }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="stock-graph">
                <h2>Stock Prices Graph</h2>
                <div id="graph">{{ plot_html|safe }}</div>
            </div>
        </div>
    </div>

    <script>
        // Get the stock data from the server
        var dates = JSON.parse("{{ dates|safe }}");
        var prices = JSON.parse("{{ prices|safe }}");

        // Create the plotly graph
        var trace = {
            x: dates,
            y: prices,
            type: 'scatter',
            mode: 'lines',
            name: 'Stock Prices'


        };
        var data = [trace];
        var layout = {
            title: 'Stock Market Data',
            xaxis: {
                title: 'Date'
            },
            yaxis: {
                title: 'Price'
            }
        };
        var config = {
            responsive: true
        };
        var graphElement = document.getElementById('graph');
        Plotly.newPlot(graphElement, data, layout, config);
    </script>
</body>
</html>
